@import "@picocss/pico/css/pico.slate.css";
@import "@picocss/pico/css/pico.colors.css";

html {
    --header-bg: var(--pico-color-sand-100);
    --solved-bg: var(--pico-color-green-50);
    --tried-bg: var(--pico-color-pumpkin-50);
    --submitted-bg: var(--pico-color-pumpkin-50);

    --editor-color: #ebebeb;
}

html.dark {
    --header-bg: var(--pico-color-sand-800);
    --solved-bg: var(--pico-color-green-800);
    --tried-bg: var(--pico-color-pumpkin-800);
    --submitted-bg: var(--pico-color-pumpkin-50);

    --editor-color: #002B36;
}

.top-header {
    --pico-block-spacing-vertical: 0.5rem;
    --pico-nav-element-spacing-vertical: 0.7rem;
    background: var(--header-bg);
}

.section-home {
    margin-top: 3em;
}

.maincontents {
    margin-top: 2em;
    margin-bottom: 5em;
}

.button-testcase-selector {
    --pico-border-width: 0.13rem;
}

.set-selector td:nth-child(1),
.set-selector td:nth-child(2) {
    width: 100px;
}

.set-selector td:nth-child(4),
.set-selector td:nth-child(5) {
    width: 100px;
}

.set-selector td:nth-child(6) {
    width: 150px;
}

.sample-copy {
    --pico-form-element-spacing-vertical: 0.25em;
    --pico-form-element-spacing-horizontal: 0.25em;
    margin-left: 0.5em;
}

button.searchbtn {
    --pico-form-element-spacing-vertical: 0.5em;
    --pico-form-element-spacing-horizontal: 0.5em;
    width: 4em;
}

.ace-container :where([role="button"]) {
    border: none;
    background-color: transparent;
    padding: 0;
}
.ace-container {
    border: 3px solid var(--editor-color);
}

.button-small-padding {
    --pico-form-element-spacing-vertical: 0.5em;
    --pico-form-element-spacing-horizontal: 0.5em;
}
